#options_panel{ position:absolute; right:0; background:#f8f8f8; width:220px; top:100%; z-index: 3; -webkit-backface-visibility:hidden;}
#options_panel > i{ display:block; width:61px; height:61px; cursor:pointer; background:url("../images/options_panel_icons.png") no-repeat -172px -6px; position:absolute; top:0; right:0; z-index:2; }
#options_panel h5,#options_panel h6{ color:#000; }
#options_panel h6{ font-weight:400; padding-bottom:15px; }
#options_panel hr{ height:1px; background:#e3e2dc; margin:8px 0 15px; }
#options_panel_inner{ position:relative; z-index:1; padding:25px 20px; }
#options_panel_inner:before{ content:""; display:block; width:100%; height:6px; background:url("../images/options_panel_icons.png") no-repeat; position:absolute; top:0; left:0; }
#options_panel_inner button{ padding:2px 0px 3px; width:87px; text-align:center; color:#88867c; background:#e3e2dc; cursor:pointer; border-bottom:1px solid #c9c9c9; box-sizing:border-box; -moz-box-sizing:border-box; border-top:1px solid transparent; }
#options_panel_inner button:disabled{ background:#fff; cursor:default; border:1px solid #c9c9c9; }
.layout_options{ margin-bottom:13px; }
.color_options{margin-bottom:13px;}
.color_options > li:first-child{ margin-left:0; }
.color_options > li{float:left;	margin-left:6px; width:25px; height:25px; cursor:pointer; }
.color_options > li[title="default"]{background:#54abaa;}
.color_options > li[title="light_blue"]{background:#437db6;}
.color_options > li[title="purple"]{background:#7164a8;}
.color_options > li[title="light_green"]{background:#5ead5f;}
.color_options > li[title="light_purple"]{background:#af6993;}
.color_options > li[title="brown"]{background:#af9c69;}
#colorSelector{width:25px; height:25px;cursor:pointer;}
.pick_color > * {display:inline-block;}
.pick_color > h6{margin-top:2px;padding-bottom:0 !important;}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144 dpi){
	#options_panel > i,#options_panel_inner:before{background-image:url("../images/options_panel_icons@2x.png");background-size:233px 67px;}	
}